@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  box-sizing: border-box;
}

@theme {
  --font-cormorant: "Cormorant Garamond",
    serif;
  --font-playfair: "Playfair Display",
    serif;
  --font-eb: "EB Garamond",
    serif;
}

/* @media screen and (max-width: 1000px) {
  h1 {
    font-weight: 700;
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
  }

} */

/* Standard properties for Firefox */
.scroll-container {
  scrollbar-width: 10px;
  scrollbar-color: red;
  /* thumb track */
}

/* WebKit-specific styles for Chrome, Safari, Edge */
::-webkit-scrollbar {
  background-color: black;
  width: 8px;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: red;
  width: 8px;
  /* color of the scroll thumb */
  border-radius: 4px;
  /* roundness of the scroll thumb */
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@utility transition-200 {
  @apply transition-all duration-200;
}

@utility flex-centre {
  @apply flex justify-center items-center;
}

@utility hover-active {
  @apply hover:font-semibold hover:tracking-widest active:font-semibold active:tracking-widest
}

@utility abs-centre {
  @apply absolute top-[350px] md:top-1/2  left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient-white {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: normal;
}

@utility text-gradient-red {
  background: linear-gradient(to bottom, #ff0000, #aa0000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: normal;
}

@utility bg-gradient-centre {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 75%, rgba(0, 0, 0, 0) 100%);
}

@utility noisy {
  @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
}

/* @utility shadow {

} */